<include file="Public/head" />
<style>
.grouptd {
	position: relative;
}

.group {
	display: inline-block;
	width: 100%;
}

.groupselect {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
</style>
<body class="no-skin">
	<include file="Public/header" />
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<include file="Public/sidebar" />
		<div class="main-content">
			<div class="main-content-inner">
				<!-- #section:basics/content.breadcrumbs -->
				<include file="Public/breadcrumbs" />

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">
					<include file="Public/set" />

					<!-- /section:settings.box -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="row">
								<form class="form-inline" action="" method="post">
									<a class="btn btn-info" href="{:U('add')}" value="">新增</a> <label
										class="inline">&nbsp;&nbsp;消息类型：</label> <select
										name="smstype" class="form-control">
										<option <if condition="I('smstype') eq 1">selected</if>
											value="1">短信
										</option>
										<option <if condition="I('smstype') eq 2">selected</if>
											value="2">微信
										</option>
									</select>
									<button type="submit" class="btn btn-purple btn-sm">
										<span class="ace-icon fa fa-search icon-on-right bigger-110"></span>
										Search
									</button>
								</form>
							</div>
							<div class="space-4"></div>
							<div class="row">
								<form id="form" method="post" action="{:U('del')}">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th style="width: 60%">短信内容</th>
												<th>创建时间</th>
												<th>类型</th>
												<th>状态</th>
												<th>是否通审核过</th>
												<th class="center">操作</th>
											</tr>
										</thead>
										<tbody>
											<volist name="list" id="val">
											<tr>
												<td>{$val['smscontent']}</td>
												<td>{$val['createtime']}</td>
												<td>
													<?php if($val['smstype']==1){echo '微信';}else{echo '手机短信';} ?>
												</td>
												<td>
													<?php if($val['status']==1){echo '启用';}else{echo '禁用';} ?>
												</td>
												<td>
													<?php if($val['isapprove']==1){echo '是';}else{echo '否';} ?>
												</td>
												<td class="center"><a
													href="{:U('edit',array('id'=>$val['id']))}">修改</a></td>
											</tr>
											</volist>
										</tbody>
									</table>
								</form>

							</div>
							<!-- PAGE CONTENT ENDS -->
						</div>
						{$page}
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->
		<include file="Public/footer" />

	</div>
	<!-- /.main-container -->

	<include file="Public/footerjs" />
	<!-- inline scripts related to this page -->
	<script type="text/javascript">
		
	</script>
</body>
</html>
