<include file="Public/head"/>
<body class="no-skin">
<include file="Public/header"/>
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <include file="Public/sidebar"/>
    <div class="main-content">
        <div class="main-content-inner">
            <!-- #section:basics/content.breadcrumbs -->
            <include file="Public/breadcrumbs"/>

            <!-- /section:basics/content.breadcrumbs -->
            <div class="page-content">
                <include file="Public/set"/>

                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" action="{:U('update')}" method="post">
							<input name="unit_id" value="{$em_unit['unit_id']}" type="hidden" />
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-10"> 单元名 </label>
                                <div class="col-sm-9">
                                	<input type="text" name="UNIT_NAME" id="UNIT_NAME" placeholder="单元名称" class="col-xs-10 col-sm-5" value="{$em_unit['unit_name']}">
                            	</div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-10"> 所属小区 </label>
                                <div class="col-sm-9">
                                    <select id="village" name="village" class="rcol-xs-10 col-sm-5">
                                    	<option value="">--请选择--</option>
                                        <volist name="villages" id="val">
                                            <option value="{$val['village_id']}"
                                            <if condition="$val['village_id'] eq $em_unit['village']">selected="selected"
                                            </if>
                                            >{$val.village_name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-10"> 所属楼宇 </label>
                                <div class="col-sm-9">
                                    <select id="building" name="building" class="rcol-xs-10 col-sm-5">
                                    	<option value="">--请选择--</option>
                                        <volist name="buildings" id="val">
                                            <option value="{$val['building_id']}"
                                            <if condition="$val['building_id'] eq $em_unit['building']">selected="selected"
                                            </if>
                                            >{$val.building_name}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>

                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 单元最低楼层</label>
                                <div class="col-sm-9">
                                	<input type="text" name="LOWEST" id="LOWEST" placeholder="单元最低楼层" class="col-xs-10 col-sm-5" value="{$em_unit['lowest']}">
                            	</div>
                            </div>
							
							<div class="space-4"></div>
							
							<div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 单元最高楼层 </label>
                                <div class="col-sm-9">
                                	<input type="text" name="HIGHEST" id="HIGHEST" placeholder="单元最高楼层" class="col-xs-10 col-sm-5" value="{$em_unit['highest']}">
                            	</div>
                            </div>

                            <div class="space-4"></div>

							<div class="form-group">
                                <label class="col-sm-1 control-label no-padding-right" for="form-field-2"> 单元出入口数量 </label>
                                <div class="col-sm-9">
                                	<input type="text" name="ENTRY_AND_EXIT_NUMBER" id="ENTRY_AND_EXIT_NUMBER" placeholder="单元出入口数量" class="col-xs-10 col-sm-5" value="{$em_unit['entry_and_exit_number']}">
                            	</div>
                            </div>
                            
                            <div class="space-4"></div>

                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script src="__PUBLIC__/qwadmin/js/date-time/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/qwadmin/js/function.js"></script>
<script type="text/javascript">
	$("#village").on("change", function () {
		$("#building").empty();
	    var ob = $(this);
	    var villageId = ob.val();
	    $("#building").prepend("<option value=''>--请选择--</option>"); //为Select插入一个Option(第一个位置)
	    var building = document.getElementById("building");
	    $.get("{:U('changeVillage')}?villageId=" + villageId, function (data) {
	    	$(data).each(function(index,obj){
	    		building.options[index+1] = new Option(obj.building_name,obj.building_id);
	        	//$("#city").append("<option value='"+obj.org_id+"'>" + obj.org_name + "<option/>");
	        });
	    });
	})
</script>
</body>
</html>
