<include file="Public/head"/>
<body>
<div id="header" data-role="header" data-id="header" data-position="fixed" data-fullscreen="false" data-tap-toggle="false">
    <h1 style="color: #ffffff;">乐助科技</h1>
    <a href="#" onclick="javascript:history.go(-1);" data-ajax="false" data-direction="reverse" data-icon="back" data-iconpos="notext" data-shadow="false" data-icon-shadow="false">Back</a>
</div><!-- /header -->
<style>
.acticle-title {
	font-size:25px;
	font-weight:bold;
	margin-top:10px;
}
.acticle-body {
	margin-top:20px;
}
.acticle-date {
	margin-top:10px;
	margin-bottom:10px;
	color: #8c8c8c;
}
img{
    width:100%;
    height:auto;
}
</style>
<div class="main-container"  style="margin:10px;">
    <div class="main-content">
      <div class="page-content">
          <div class="text-center acticle-title">{$noticetitle} </div>
          <div class="acticle-date">{$createtime} <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI5ODU0MjYwMg==&scene=124#wechat_redirect"><span style="color: #607fa6;font-weight:bold;">安徽物业在线</span></a> </div>
	      <div class="text-center"><img id="duotu_img" src="__ROOT__{$noticepicture}" width="360" height="200" alt="" onerror="this.src='__PUBLIC__/qwadmin/images/no-pic.jpg'"/></div>
	      <div class="acticle-body">{$noticecontent}</div>
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
</body>
<include file="Mobile/bottom"/>
</html>
