<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="__PUBLIC__/qwadmin/css/bootstrap.css"/>
    <link rel="stylesheet" href="__PUBLIC__/qwadmin/css/font-awesome.css"/>
    <link rel="stylesheet" href="__PUBLIC__/qwadmin/css/jquery-ui.css"/>
	<link rel="stylesheet" href="__PUBLIC__/qwadmin/css/animate.min.css"/>
    <!-- page specific plugin styles -->
    <!-- page specific plugin styles -->
    
    <!-- mobile styles -->
    <link rel="stylesheet" href="__PUBLIC__/qwadmin/mobile/em.mobile.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/qwadmin/mobile/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/qwadmin/mobile/jquery.mobile.structure-1.4.5.min.css" />
</head>
<style>
.ui-header {
    background: #097ad8 !important;
}
*{
	 -webkit-touch-callout: none;
	 -webkit-user-select: none;
}
input { 
 	-webkit-user-select: auto;
}
</style>