<include file="Mobile/head"/>
<body>

<div id="header" data-role="header" data-id="header" data-position="fixed" data-fullscreen="false" data-tap-toggle="false">
    <h1 style="color: #ffffff;">安徽物业在线</h1>
</div><!-- /header -->



     <volist name="list" id="vo" empty="" key="k">
         <br/>&nbsp;&nbsp;<strong style="font-size:18px;">{$vo.contenttitile}</strong> <a href="{:U('mobile/notice',array('id'=>$vo['id']))}">    更多 ...</a>
         <ol data-role="listview"  >
	 <volist name="data[$k-1]" id="va" empty="">
		<li><a href="{:U('mobile/detail',array('id'=>$va['id']))}"><strong style="font-size:14px;">{$va.noticetitle}</strong></a></li>
			 </volist>
		  </ol>
     </volist>
      
       <div data-role="footer" data-position="fixed"  data-tap-toggle="false">
        <div data-role="navbar">
            <ul>
                 <li><a href="{:U('mobile/index')}" data-icon="home" class="ui-btn-active">首页</a></li>
                 <li><a href="{:U('wechat/index?url=profile')}" data-icon="user" >我</a></li>
            </ul>
        </div><!-- /navbar -->
     </div><!-- /footer -->


<!-- inline scripts related to this page -->
<script type="text/javascript">
    $("title").html("首页 - 乐助科技");  
</script>
</body>
</html>
