<include file="Public/head"/>
<body style="margin-bottom:80px;">
<div class="main-container">
    <div class="main-content">
      <div class="page-content">
        <div class="row">

            <div class="col-xs-12">
				<table class="table table-hover table-bordered">
					<volist name="list" id="vo" empty="">
						<tr>
							<td style="padding:15px;">
								<a href="{:U('mobile/detail',array('id'=>$vo['id']))}">
									<strong style="font-size:14px;">{$vo.noticetitle}</strong></br>
									<small style="font-size:10px;">{$vo.createtime}</small>
								</a>
							</td>
						</tr>
					</volist>
				</table>
           </div>
           
        </div><!-- /.row -->
        </div>
    </div><!-- /.main-content -->
</div><!-- /.main-container -->


<!-- basic scripts -->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBLIC__/qwadmin/js/jquery.js'>" + "<" + "/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBLIC__/qwadmin/js/jquery1x.js'>" + "<" + "/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='__PUBLIC__/qwadmin/js/jquery.mobile.custom.js'>" + "<" + "/script>");
</script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        $(document).on('click', '.toolbar a[data-target]', function (e) {
            e.preventDefault();
            var target = $(this).data('target');
            $('.widget-box.visible').removeClass('visible');//hide others
            $(target).addClass('visible');//show target
        });
    });

</script>
</body>
</html>
