<include file="Mobile/head"/>
<body>

<div id="header" data-role="header" data-id="header" data-position="fixed" data-fullscreen="false" data-tap-toggle="false">
    <h1 style="color: #ffffff;">乐助科技</h1>
    <a href="#" onclick="javascript:history.go(-1);" data-ajax="false" data-direction="reverse" data-icon="back" data-iconpos="notext" data-shadow="false" data-icon-shadow="false">Back</a>
</div><!-- /header -->

<div>
	<ul data-role="listview">
		<volist name="list" id="vo" empty="">
			<li>
				<a href="{:U('mobile/detail',array('id'=>$vo['id']))}" >
					<h2>{$vo.noticetitle}</h2>
					<p>{$vo.createtime}</p>
				</a>
			</li>
		</volist>
	</ul>
</div>
</body>
<include file="Mobile/bottom"/>
</html>


