<include file="Mobile/head"/>
<body>
<style>
.nav-user-photo{
	width:72px;
	height:72px;
	border-radius: 100%;
    border: 2px solid #FFF;
}
.user-name-top{
    text-shadow: 2px 2px 0px #000;
    font-size:30px;
    color:white;
    margin-left:15px;
    margin-top:-10px;
}
</style>
<div id="header" data-role="header" data-id="header" data-position="fixed" data-fullscreen="false" data-tap-toggle="false">
    <h1 style="color: #ffffff;">个人中心</h1>
</div><!-- /header -->

      <div style="background-color:#793822;padding:30px;">
      	<img class="nav-user-photo" src="<if condition=" $user.head eq '' ">__PUBLIC__/qwadmin/avatars/avatar2.png  <else/> {$user.head} </if>" alt="{$user.user}" />
        <strong class="user-name-top">{$user.user}</strong>
      </div>

		<div data-role="footer" data-position="fixed"  data-tap-toggle="false">
        <div data-role="navbar">
            <ul>
                 <li><a href="{:U('mobile/index')}" data-icon="home">首页</a></li>
                 <li><a href="{:U('wechat/index?url=profile')}" data-icon="user" class="ui-btn-active">我</a></li>
            </ul>
        </div><!-- /navbar -->
       </div><!-- /footer -->
       
</body>
</html>
