<include file="Mobile/head"/>
<body>
<style>
.nav-user-photo{
	width:72px;
	height:72px;
	border-radius: 100%;
    border: 2px solid #FFF;
}
.user-name-top{
    text-shadow: 2px 2px 0px #000;
    font-size:30px;
    color:white;
    margin-left:15px;
    margin-top:-10px;
}
</style>
<div id="header" data-role="header" data-id="header" data-position="fixed" data-fullscreen="false" data-tap-toggle="false">
    <h1 style="color: #ffffff;">个人中心</h1>
</div><!-- /header -->

<!-- 个人基本信息 -->
<div style="background-color:#793822;padding:30px;">
	<img class="nav-user-photo" src="<if condition=" $user.head eq '' ">__PUBLIC__/qwadmin/avatars/avatar2.png  <else/> {$user.head} </if>" alt="{$user.user}" />
    <strong class="user-name-top">{$user.user}</strong>
</div>
	
 <div style="margin:10px;">     
    <!-- 业主姓名（*彬彬） 手机号 微信号  小区 楼宇 单元 房号 -->
    <div data-role="none" data-collapsed="false" >  
		<h4>基本信息</h4>
		<ul data-role="listview">
			<li>业主:{$name}</li>
			<li>手机:{$phone}</li>
			<li>微信:{$wechat}</li>
		</ul>
	</div>
    <h4>小区信息</h4>
	<volist name="villages" id="vi" empty="">
		<div data-role="collapsible" data-collapsed="false">  
			<h2>{$vi}</h2>
			<ul data-role="listview">
				<volist name="list" id="vo" empty="">
					<if condition=" $vo.village_name eq $vi ">
						<li>楼宇:{$vo.house_name} {$vo.building_name} 单元:{$vo.unit} {$vo.unit_name} 房号:{$vo.floor} {$vo.house_name}</a></li>
					</if>
				</volist>
			</ul>
		</div>
	</volist>
</div>
	
<!-- 底部导航条 -->
<div data-role="footer" data-position="fixed"  data-tap-toggle="false">
	<div data-role="navbar">
		<ul>
			<li><a href="{:U('mobile/index')}" data-icon="home">首页</a></li>
			<li><a href="{:U('wechat/index?url=profile')}" data-icon="user" class="ui-btn-active ui-state-persist" data-ajax="false">我</a></li>
		</ul>
	</div><!-- /navbar -->
</div><!-- /footer -->
       
</body>
<include file="Mobile/bottom"/>
</html>
