<include file="Public/head"/>
<body style="margin-bottom:80px;">
<style>
.nav-user-photo{
	width:72px;
	height:72px;
	border-radius: 100%;
    border: 2px solid #FFF;
}
</style>
<div class="main-container">
    <div class="main-content">
      
      <div class="page-content" style="background-color:#793822;padding:30px;">
      
      	<img class="nav-user-photo" src="<if condition=" $user.head eq '' ">__PUBLIC__/qwadmin/avatars/avatar2.png
            <else/> {$user.head} </if>" alt="{$user.user}" />
           <strong style="font-size:25px;color:white;margin-left:15px;">{$user.user}</strong>
      </div>
      
      <div class="page-content" style="background-color:#dddddd;">
        <div class="row">
			<div class="form-group">
			     <div class="col-sm-9">
			         <span class="help-inline col-xs-12 col-sm-7">
					 	<span>手机</span>
					 	<span>{$user.phone}</span>
					</span>
			    </div>
			</div>
        </div><!-- /.row -->
       </div>
       
       <div class="page-content" style="background-color:#dddddd;margin-top:3px;">
        <div class="row">
			<div class="form-group">
			     <div class="col-sm-9">
			         <span class="help-inline col-xs-12 col-sm-7">
					 	<span>手机</span>
					 	<span>{$user.phone}</span>
					</span>
			    </div>
			</div>
        </div><!-- /.row -->
       </div>
        
        
    </div><!-- /.main-content -->
</div><!-- /.main-container -->

    <div class="navbar-fixed-bottom" style="height:55px;">
		<div class="btn-group btn-group-justified" role="group">
		  <div class="btn-group" role="group">
		    <a type="button" class="btn" href="{:U('mobile/index')}">
		    <i class="ace-icon fa fa-home fa-2x white"></i>
		    <p>首页</p>
		    </a>
		  </div>

		  <div class="btn-group" role="group">
		    <a type="button" class="btn btn-danger" href="{:U('wechat/index?url=profile')}">
		    <i class="ace-icon fa fa-user fa-2x white"></i>
		    <p>我</p>
		    </a>
		  </div>
		</div>
    </div>
    

<!-- basic scripts -->

<!--[if !IE]> -->
<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBLIC__/qwadmin/js/jquery.js'>" + "<" + "/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='__PUBLIC__/qwadmin/js/jquery1x.js'>" + "<" + "/script>");
</script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='__PUBLIC__/qwadmin/js/jquery.mobile.custom.js'>" + "<" + "/script>");
</script>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {
        $(document).on('click', '.toolbar a[data-target]', function (e) {
            e.preventDefault();
            var target = $(this).data('target');
            $('.widget-box.visible').removeClass('visible');//hide others
            $(target).addClass('visible');//show target
        });
    });

</script>
</body>
</html>
