<link rel="stylesheet" href="__PUBLIC__/qwadmin/js/ztree/zTreeStyle.css" type="text/css">
<script src="__PUBLIC__/qwadmin/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/qwadmin/js/ztree/jquery.ztree.core.min.js"></script>
<script src="__PUBLIC__/qwadmin/js/ztree/jquery.ztree.excheck.min.js"></script>
<div class="col-xs-12 widget-container-col ui-sortable"
	style="min-height: 400px;">
	<!-- #section:custom/widget-box.options.transparent -->
	<div class="zTreeDemoBackground left">
		<ul id="treeDemo" class="ztree"></ul>
	</div>
</div>
<script type="text/javascript">

		var setting = {
			  check: {
					enable: true
				}, 
			data: {
				simpleData: {
					enable: true
				}
			}
		};
		var zNodes =[
			{ id:1, pId:0, name:"父节点1 - 展开",open:true,nocheck:true},
			{ id:11, pId:1, name:"父节点11 - 折叠"},
			{ id:111, pId:11, name:"叶子节点111"},
			{ id:112, pId:11, name:"叶子节点112"},
			{ id:113, pId:11, name:"叶子节点113"},
			{ id:114, pId:11, name:"叶子节点114"},
			{ id:12, pId:1, name:"父节点12 - 折叠"},
			{ id:121, pId:12, name:"叶子节点121"},
			{ id:122, pId:12, name:"叶子节点122"},
			{ id:123, pId:12, name:"叶子节点123"},
			{ id:124, pId:12, name:"叶子节点124"},
		];
		$(document).ready(function(){
			 //绑定数据
			 $.ajax({
			 type : "post",
			 url: "__URL__/buildingselected",
			 async : false,
			 dataType : "json",
			 success : function(data) {
				 if(data.status=="1"){
					 $.fn.zTree.init($("#treeDemo"), setting, data.message);
				 }else{
					 bootbox.dialog({
		                 title: '友情提示：',
		                 message: data.message,
		                 buttons: {
		                     "success": {
		                         "label": "确定",
		                         "className": "btn-danger"
		                     }
		                 }
		             });
				 }
				
			 },
			 error : function(XMLHttpRequest, textStatus, errorThrown) {
			 }
			 });  
			
		});
	</script>