<link rel="stylesheet" href="__PUBLIC__/qwadmin/js/ztree/zTreeStyle.css" type="text/css">
<script src="__PUBLIC__/qwadmin/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/qwadmin/js/ztree/jquery.ztree.core.min.js"></script>
<script src="__PUBLIC__/qwadmin/js/ztree/jquery.ztree.excheck.min.js"></script>
<div class="col-xs-12 widget-container-col ui-sortable"
	style="min-height: 400px;">
	<!-- #section:custom/widget-box.options.transparent -->
	<div class="zTreeDemoBackground left">
		<ul id="treeDemo" class="ztree"></ul>
	</div>
</div>
<script type="text/javascript">
//绑定楼宇树星图
function bindtreeview(){
	var setting = {
			  check: {
					enable: true
				}, 
			data: {
				simpleData: {
					enable: true
				}
			}
		};
	 //绑定数据
	 $.ajax({
	 type : "post",
	 url: "__ROOT__/qwadmin/Message/buildingselected",
	 async : false,
	 dataType : "json",
	 success : function(data) {
		 if(data.status=="1"){
			 debugger;
			 var zTreeObj = $.fn.zTree.getZTreeObj("treeDemo");
			 if(zTreeObj!=null){
				 zTreeObj.destroy();
			 }
			 $.fn.zTree.init($("#treeDemo"), setting, data.message);
		 }/* else{
			 bootbox.dialog({
                title: '友情提示：',
                message: data.message,
                buttons: {
                    "success": {
                        "label": "确定",
                        "className": "btn-danger"
                    }
                }
            });
		 } */
		
	 },
	 error : function(XMLHttpRequest, textStatus, errorThrown) {
	 }
	 });  
}
			
			
	</script>