<include file="Public/head" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/qwadmin/js/webupload/webuploader.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/qwadmin/css/bootstrap-datetimepicker.css">
<body class="no-skin">
	<include file="Public/header" />
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<include file="Public/sidebar" />
		<div class="main-content">
			<div class="main-content-inner">
				<!-- #section:basics/content.breadcrumbs -->
				<include file="Public/breadcrumbs" />

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">
					<include file="Public/set" />

					<!-- /section:settings.box -->
					<div class="row">
							<!-- PAGE CONTENT BEGINS -->
							<form class="form-horizontal" action="{:U('updatenotice')}" id="form"
								method="post">
								<input name="contentid" id="contentid" value="{$contentid}" type="hidden">
								<input name="id" value="{$model.id}" type="hidden">
								<input type="hidden" name="noticepicture" id="hdfnoticepicture" value="{$model.noticepicture}">
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right"
										for="form-field-10">标题</label>
									<div class="col-sm-6">
									<input type="text" name="noticetitle" id="noticetitle" placeholder="请输入文章名称"
                                           class="col-xs-12 col-sm-12" value="{$model.noticetitle}">	
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right"
										for="form-field-10">文章封面图</label>
									<div class="col-sm-6">
								
									<div id="uploader-demo">
									<!--用来存放item-->
									<div id="thelist" class="uploader-list"></div>
									<div>
										<div id="filePicker">选择图片</div>
									</div>
									</div>
										<!--  <div class="col-xs-10 col-sm-5">
                                        {:UpImage("noticepicture",100,100,$model['noticepicture'])}
                                    </div>
                                    <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">仅支持jpg、gif、png、bmp、jpeg，且小于1MB。</span>
											</span> -->
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right"
										for="form-field-2">消息内容</label>
									<div class="col-sm-6">
										  <textarea name="noticecontent" id="noticecontent"
                                                  style="width:100%;height:400px;visibility:hidden;">{$model['noticecontent']}</textarea>
                             
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right"
										for="form-field-10">推荐置顶</label>
									<div class="col-sm-6">
										<label>
										  <input name="istop" id="istop" <if condition="$model.istop eq 1">checked="checked"</if>
                                        value="1" class="ace ace-switch ace-switch-2" type="checkbox" />
                                        <span class="lbl"></span>
										</label>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right"
										for="form-field-10">置顶开始时间</label>
									<div class="col-sm-6">
										<div class="input-group">
										<input class="datetimepicker" id="starttime" name="starttime" type="text" class="form-control" readonly value="{$model.starttime}"/>
										</div>
                                    </div>
								</div>
								<div class="form-group">
									<label class="col-sm-1 control-label no-padding-right"
										for="form-field-10">置顶结束时间</label>
									<div class="col-sm-6">
										<div class="input-group">
										<input class="datetimepicker" id="endtime" name="endtime" type="text" class="form-control" readonly value="{$model.endtime}"/>
										</div>
                                    </div>
								</div>
								 <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info submit" type="button">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>

                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
							</div>
						</form>
							<!-- PAGE CONTENT ENDS -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
		<!-- /.main-content -->
		<include file="Public/footer" />

	</div>
	
	<!-- /.main-container -->
	<include file="Public/footerjs" />
	<script src="__PUBLIC__/qwadmin/js/webupload/webuploader.min.js"></script>
	<script src="__PUBLIC__/qwadmin/js/date-time/moment.js"></script>
	<script src="__PUBLIC__/qwadmin/js/date-time/bootstrap-datetimepicker.js"></script>
	
	<!-- inline scripts related to this page -->
	<script type="text/javascript">
	 $('.datetimepicker').datetimepicker({
		 format: 'YYYY-MM-DD h:mm:ss ',//use this option to display seconds
		 icons: {
			time: 'fa fa-clock-o',
			date: 'fa fa-calendar',
			up: 'fa fa-chevron-up',
			down: 'fa fa-chevron-down',
			previous: 'fa fa-chevron-left',
			next: 'fa fa-chevron-right',
			today: 'fa fa-arrows ',
			clear: 'fa fa-trash',
			close: 'fa fa-times'
		 }
		}).next().on(ace.click_event, function(){
			$(this).prev().focus();
		});
    $(function () {
    	if($('#hdfnoticepicture').val()!=''){
    		 var $list=$("#thelist"); 
    		 var $li = $(  
  	               '<div class="file-item thumbnail">' +  
  	                   '<img width="200" height="200">' +  
  	                   '<div class="info"></div>' +  
  	               '</div>'  
  	               ),  
  	            
  	          $img = $li.find('img');  
    		  $list.append( $li );  
    		
    		  $img.attr( 'src', '__ROOT__'+$('#hdfnoticepicture').val() );  
    	}
    	/*init webuploader*/  
    	   var $list=$("#thelist");   //这几个初始化全局的百度文档上没说明，好蛋疼。  
    	   var $btn =$("#ctlBtn");   //开始上传  
    	   var thumbnailWidth = 200;   //缩略图高度和宽度 （单位是像素），当宽高度是0~1的时候，是按照百分比计算，具体可以看api文档  
    	   var thumbnailHeight = 200;  
    	    uploader = WebUploader.create({  
    	       // 选完文件后，是否自动上传。  
    	       auto: true,  
    	  
    	       // swf文件路径  
    	       swf: '__PUBLIC__/qwadmin/js/webupload/Uploader.swf',  
    	  
    	       // 文件接收服务端。  
    	       server: '__ROOT__/Content/ajax_upload.html',  
    	  
    	       // 选择文件的按钮。可选。  
    	       // 内部根据当前运行是创建，可能是input元素，也可能是flash.  
    	       pick: '#filePicker',  
    	       fileSingleSizeLimit: 5 * 1024 * 1024,    // 5 M
    	       // 只允许选择图片文件。  
    	       accept: {  
    	           title: 'Images',  
    	           extensions: 'gif,jpg,jpeg,bmp,png',  
    	           mimeTypes: '.gif,.jpg,.jpeg,.bmp,.png'  
    	       },  
    	       method:'POST',  
    	   });  
    	   // 当有文件添加进来的时候  
    	   uploader.on( 'fileQueued', function( file ) {  // webuploader事件.当选择文件后，文件被加载到文件队列中，触发该事件。等效于 uploader.onFileueued = function(file){...} ，类似js的事件定义。  
    		   var $list=$("#thelist");  
      		   $list.children().remove();
    		   var $li = $(  
    	               '<div id="' + file.id + '" class="file-item thumbnail">' +  
    	                   '<img>' +  
    	                   '<div class="info">' + file.name + '</div>' +  
    	               '</div>'  
    	               ),  
    	            
    	           $img = $li.find('img');  
    	       // $list为容器jQuery实例  
    	       $list.append( $li );  
    	  
    	       // 创建缩略图  
    	       // 如果为非图片文件，可以不用调用此方法。  
    	       // thumbnailWidth x thumbnailHeight 为 100 x 100  
    	       uploader.makeThumb( file, function( error, src ) {   //webuploader方法  
    	           if ( error ) {  
    	               $img.replaceWith('<span>不能预览</span>');  
    	               return;  
    	           }  
    	  
    	           $img.attr( 'src', src );  
    	       }, thumbnailWidth, thumbnailHeight );  
    	       
      	       uploader.upload();  
    	   });  
    	   // 文件上传过程中创建进度条实时显示。  
    	   uploader.on( 'uploadProgress', function( file, percentage ) {  
    	       var $li = $( '#'+file.id ),  
    	           $percent = $li.find('.progress span');  
    	  
    	       // 避免重复创建  
    	       if ( !$percent.length ) {  
    	           $percent = $('<p class="progress"><span></span></p>')  
    	                   .appendTo( $li )  
    	                   .find('span');  
    	       }  
    	  
    	       $percent.css( 'width', percentage * 100 + '%' );  
    	   });  
    	  
    	   // 文件上传成功，给item添加成功class, 用样式标记上传成功。  
    	   uploader.on( 'uploadSuccess', function( file,response  ) {  
    		   if(response.status==0){
    			   bootbox.alert({
                       buttons: {
                           ok: {
                               label: '确定',
                               className: 'btn-myStyle'
                           }
                       },
                       message: '附件上传失败',
                       title: "提示信息",
                   });
    		   }else{
    			   $('#hdfnoticepicture').val(response.message);//保存上传文件路径
    			   uploader.removeFile(file);
    			   uploader.reset();//重置上传附件
    		   }
    	       $( '#'+file.id ).addClass('upload-state-done');  
    	   });  
    	  
    	   // 文件上传失败，显示上传出错。  
    	   uploader.on( 'uploadError', function( file ) {  
    	       var $li = $( '#'+file.id ),  
    	           $error = $li.find('div.error');  
    	  
    	       // 避免重复创建  
    	       if ( !$error.length ) {  
    	           $error = $('<div class="error"></div>').appendTo( $li );  
    	       }  
    	  
    	       $error.text('上传失败');  
    	   });  
    	  
    	   // 完成上传完了，成功或者失败，先删除进度条。  
    	   uploader.on( 'uploadComplete', function( file) {  
    		   //清空队列
    		     uploader.reset();
    	   });  
    	 var editor = KindEditor.create('textarea[name="noticecontent"]', {
             uploadJson: '__PUBLIC__/kindeditor/php/upload_json.php',
             fileManagerJson: '__PUBLIC__/kindeditor/php/file_manager_json.php',
             allowFileManager: true,
             afterBlur: function () {
                 this.sync();
             }
         });
    	 function checkEndTime(){  
    		    var startTime=$("#starttime").val();  
    		    var start=new Date(startTime.replace("-", "/").replace("-", "/"));  
    		    var endTime=$("#endtime").val();  
    		    var end=new Date(endTime.replace("-", "/").replace("-", "/"));  
    		    if(startTime!=""&&endTime!=""&&end<start){  
    		        return false;  
    		    }  
    		    return true;  
    		}  
	 $(".submit").click(function () {
         var noticetitle = $("#noticetitle").val();//文章标题
         var noticecontent = $("#noticecontent").val();//文章内容
         if (noticetitle == ''||noticecontent=='') {
             bootbox.dialog({
                 title: '友情提示：',
                 message: "文章标题,文章内容不能为空。",
                 buttons: {
                     "success": {
                         "label": "确定",
                         "className": "btn-danger"
                     }
                 }
             });
             return;
         }
         if(!checkEndTime()){  
        	 bootbox.alert({
                 buttons: {
                     ok: {
                         label: '确定',
                         className: 'btn-myStyle'
                     }
                 },
                 message: '开始时间大于结束时间',
                 title: "提示信息",
             });
        	    return;  
        	}  
         $.ajax({
        	    type: 'post',
        	    url: '{:U('updatenotice')}',
        	    data: $("#form").serialize(),
        	    success: function(data) {
        	      if(data.status==0){
        	    	  bootbox.alert({
                          buttons: {
                              ok: {
                                  label: '确定',
                                  className: 'btn-danger'
                              }
                          },
                          message: data.message,
                          title: "友情提示",
                      });
        	      }else{
        	    	  var contentid=$('#contentid').val();
        	    	  var url="{:U('Content/detail/id/"+contentid+"')}";
        	    	  window.location.href=url;
        	      }
        	    }
        	});
     });
    });
	</script>
</body>
</html>
