<include file="Public/head" />
<style>
.grouptd {
	position: relative;
}

.group {
	display: inline-block;
	width: 100%;
}

.groupselect {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
</style>
<body class="no-skin">
	<include file="Public/header" />
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<include file="Public/sidebar" />
		<div class="main-content">
			<div class="main-content-inner">
				<include file="Public/breadcrumbs" />
				<include file="Public/set" />
				<div class="row">
					<div class="col-xs-12"><a id="addcontent" class="btn btn-info" href="javascript:void(0);">添加内容</a>
					<form id="form" method="post" action="{:U('index')}">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>名称</th>
												<th>添加时间</th>
												<th>查看关联小区</th>
												<th class="center">操作</th>
											</tr>
										</thead>
										<tbody>
											<volist name="list" id="val">
											<tr>
												<td>
												<a href="{:U('detail',array('id'=>$val['id']))}">{$val['contenttitile']}</a>
												</td>
												<td>{$val['createtime']}</td>
												<td>
												<php>echo '<a class="linkShowModal" href="javascript:void(0);" val="'.$val['id'].'">查看小区</a>';</php></td>
												<td class="center">
												<if condition="($val['allowallvillage'] eq 0)"> <php>echo '<a class="linkOpenModal" href="javascript:void(0);" val="'.$val['id'].'"><i class="fa fa-plus"></i>关联小区</a>';</php></if>
												 <php>echo '<a class="editcontent" href="javascript:void(0);" val="'.$val['id'].'"><i class="fa fa-edit"></i>编辑</a>';</php>
												 <php>echo '<a class="deletecontent" href="javascript:void(0);" val="'.$val['id'].'"><i class="fa fa-trash"></i>删除</a>';</php>
												</td>
											</tr>
											</volist>
										</tbody>
									</table>
								</form>
						<!-- PAGE CONTENT BEGINS -->
						{$page}
						<!-- PAGE CONTENT ENDS -->
					</div>
					<!-- /.col -->
				</div>
				<!-- 模态框（Modal） -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
					aria-labelledby="myModalLabel" aria-hidden="true">
					<input type="hidden" id="hdfcontentid"/>
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">选择小区</h4>
							</div>
							<div class="modal-body" style="height:100%; overflow:scroll;"><include file="Public/buildingselected" /></div>
							<div class="modal-footer">
							<button type="button" class="btn btn-info" id="btnSave" 
									data-dismiss="modal">保存</button>
								<button type="button" class="btn btn-default"
									data-dismiss="modal">关闭</button>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.page-content -->
				</div>
				<div class="modal fade" id="Modal" tabindex="-1" role="dialog"
					aria-labelledby="ModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="ModalLabel">已关联的小区</h4>
							</div>
							<div id="bingdvillagelist" class="modal-body" style="height:100%; overflow:scroll;">
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-default"
									data-dismiss="modal">关闭</button>
							</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.page-content -->
				</div>
				<!-- /.page-content -->
			</div>
				<!-- /.row -->
				<div class="modal fade" id="theModal" tabindex="-1" role="dialog"
					aria-labelledby="theModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="myModalLabel">添加模块</h4>
							</div>
							<div class="modal-body" style="height:100%">
							<input type='hidden' id='hdfcontentid' value=''>
								<div class="row">
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"
											for="form-field-10">模块名称：</label>
										<div class="col-sm-6">
											<input type="text" name="contenttitile" id="contenttitile"
												placeholder="模块名称" class="col-xs-12 col-sm-12" value="">
										</div>
									</div>
								</div>
								<div style="height:20px"></div>
								<div class="row">
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"
											for="form-field-10">模块类型：</label>
										<div class="col-sm-6">
											<select id="contenttype" name="contenttype"
												class="col-xs-10 col-sm-5">
												<volist name="contenttype" id="vo" empty="暂时无数据">
												<option value='{$vo.dict_value}'>{$vo.dict_key}</option>
												</volist>
											</select>
										</div>
									</div>
								</div>
								<div style="height:20px"></div>
								<div class="row">
									<div class="form-group">
										<label class="col-sm-2 control-label no-padding-right"
											for="form-field-10">是否绑定所有小区：</label>
										<div class="col-sm-6">
											<select id="allowallvillage" name="allowallvillage"
												class="col-xs-10 col-sm-5">
												<option value='1'>是</option>
												<option value='0'>否</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
							<button type="button" class="btn btn-info submit" id="savecontent"
									data-dismiss="modal">保存</button>
								<button type="button" class="btn btn-default"
									data-dismiss="modal">关闭</button>
							</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<!-- /.main-content -->
	<include file="Public/footer" />

	<!-- /.main-container -->
	<include file="Public/footerjs" />
	<!-- inline scripts related to this page -->
	<script type="text/javascript">
	
	
	//删除文章关联
	function deleteVillage(id){
		var sendData = {
				id : id
			};
			$.ajax({
				type : "post",
				url : "__URL__/deleteVillage",
				dataType : "json",
				data : sendData,
				success : function(data) {
					if (data.status == "1") {
						$('#v'+id).remove();
					} else {
						bootbox.dialog({
							title : '友情提示：',
							message : data.message,
							buttons : {
								"success" : {
									"label" : "确定",
									"className" : "btn-danger"
								}
							}
						});
					}
				},
				error : function(XMLHttpRequest, textStatus, errorThrown) {
				}
			});
	}
	
		//删除楼宇只保留小区信息
		function removeChild() {
			var zTreeObj = $.fn.zTree.getZTreeObj("treeDemo");
			if(zTreeObj!=null){
				
			
			var nodes = zTreeObj.getNodes();
			if (nodes && nodes.length > 0) {
				for (var i = 0; i < nodes.length; i++) {
					var first = nodes[i].id.substr(0, 1);
					if (first == "p") {
						zTreeObj.removeChildNodes(nodes[i]);
					}

				}
			}}
		}
	//打开模态框(查看小区)
	$('.linkShowModal').click(function(){
		var contentid=$(this).attr('val');
		$('#Modal').modal({});
		$('#bingdvillagelist').children().remove();
		var sendData = {
				contentid :contentid
			};
		$.ajax({
			type : "post",
			url : "__URL__/getvillagetocontentbyid",
			dataType : "json",
			data : sendData,
			success : function(data) {
				if (data.status == "1") {
					if(data.message.length>0){
						 if(data.allowallvillage==0){
							 for(var i=0;i<data.message.length;i++){
									var insertHtml='<button id=v'+data.message[i].id+' class="btn btn-primary btn-sm btn-icon-text"'+
									 'title="'+data.message[i].village_name+'"><i class="fa fa-home"></i>'+
									 '<span>'+data.message[i].village_name+'</span>'+
										 '<a onclick="deleteVillage('+data.message[i].id+')" href="javascript:;" class="deleteVillage" var='+data.message[i].id+'>'+
										 '<i class="fa fa-times"></i>'+
										 '</a>'+ 
									 '</button>';
									$('#bingdvillagelist').append(insertHtml);
								}
						 }else{
							 for(var i=0;i<data.message.length;i++){
									var insertHtml='<button id=v'+data.message[i].id+' class="btn btn-primary btn-sm btn-icon-text"'+
									 'title="'+data.message[i].village_name+'"><i class="fa fa-home"></i>'+
									 '<span>'+data.message[i].village_name+'</span>'+
									 '</button>';
									$('#bingdvillagelist').append(insertHtml);
								}
						 }
						
					}
				}else{
					bootbox.alert({
                        buttons: {
                            ok: {
                                label: '确定',
                                className: 'btn-myStyle'
                            }
                        },
                        message:  data.message,
                        title: "提示信息",
                    });
				}
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
			}
		});
	});
	
	//打开模态框(关联小区)
	$('.linkOpenModal').click(function(){
		var contentid=$(this).attr('val');
		$('#hdfcontentid').val(contentid);
		bindtreeview();
		removeChild();
		$('#myModal').modal({});
	});
	
	//关联小区 	
	$('#btnSave').click(function(){
		var zTreeObj = $.fn.zTree.getZTreeObj("treeDemo");
		var checkedNodes = zTreeObj.getCheckedNodes(); 
		 if(checkedNodes.length==0){
			 bootbox.dialog({
	                title: '友情提示：',
	                message: '请选择楼宇',
	                buttons: {
	                    "success": {
	                        "label": "确定",
	                        "className": "btn-info"
	                    }
	                }
	            });
			 return;
		 }else{
			//文章关联小区
			var totalselect = new Array();//选中多少小区
			for (var i = 0; i < checkedNodes.length; i++) {
					totalselect.push(checkedNodes[i].id.substr(1,checkedNodes[i].id.length));
				}
				var sendData = {
					contentid : $('#hdfcontentid').val(),
					totalselect:totalselect
				};
				$.ajax({
					type : "post",
					url : "__URL__/addvillagetocontent",
					dataType : "json",
					data : sendData,
					success : function(data) {
						if (data.status == "1") {

						} else {
							bootbox.dialog({
								title : '友情提示：',
								message : data.message,
								buttons : {
									"success" : {
										"label" : "确定",
										"className" : "btn-danger"
									}
								}
							});
						}
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
					}
				});
			}
		});
	
		$(function(){
			//保存文章
			$('#savecontent').click(function(){
				var id=$('#hdfcontentid').val();
				var contenttitile=$('#contenttitile').val();
				var contenttype=$('#contenttype').val();
				var allowallvillage=$('#allowallvillage').val();
				if(contenttitile==""||$.trim(contenttitile)==""){
					 	bootbox.alert({
                    buttons: {
                        ok: {
                            label: '确定',
                            className: 'btn-myStyle'
                        }
                    },
                    message:  '内容标题不为空',
                    title: "提示信息",
                }); 
					return;
				}
				var sendData = {
						contenttitile :contenttitile,
						contenttype:contenttype,
						allowallvillage:allowallvillage,
						id:id
					};
				$.ajax({
					type : "post",
					url : "__URL__/updatecontent",
					dataType : "json",
					data : sendData,
					success : function(data) {
						if (data.status == "1") {
							bootbox.alert({
                                buttons: {
                                    ok: {
                                        label: '确定',
                                        className: 'btn-danger'
                                    }
                                },
                                message: data.message,
                                callback: function () {
                                    window.location.reload(true);
                                },
                                title: "友情提示",
                            });
						} 
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
					}
				});
			});
			//编辑模态框
			$('.editcontent').click(function(){
		        var id = $(this).attr('val');
		        var sendData = {
		        		contentid :id
					};
		        $.ajax({
					type : "post",
					url : "__URL__/getContentbyId",
					dataType : "json",
					data : sendData,
					success : function(data) {
						if (data.status == "1") {
							  	$('#contenttitile').val(data.message.contenttitile);
						        $('#contenttype').val(data.message.contenttype);
						        $('#allowallvillage').val(data.message.allowallvillage);
						        $('#hdfcontentid').val(data.message.id);
								$('#theModal').modal({});
						} 
					},
					error : function(XMLHttpRequest, textStatus, errorThrown) {
					}
				});
		      
			});
			//新增模态框
			$('#addcontent').click(function(){
				$('#contenttitile').val('');
				$('#allowallvillage').val('');
				$('#hdfcontentid').val('');
			    $('#contenttype option:first').prop('selected','selected');
				$('#theModal').modal({});
			});
			//删除文章
			 $(".deletecontent").on('click', function () {
		          var obj = $(this);
		          var id = obj.attr('val');
		          bootbox.confirm({
		              title: "系统提示",
		              message: "是否要删除内容？",
		              callback: function (result) {
		                  if (result) {
		                      $.get("{:U('deletecontent')}?id=" + id, function (response) {
		                    	  if (response.status == 1) {
		                              bootbox.alert({
		                                  buttons: {
		                                      ok: {
		                                          label: '确定',
		                                          className: 'btn-danger'
		                                      }
		                                  },
		                                  message: '恭喜，删除成功！',
		                                  callback: function () {
		                                	
		                                      window.location.reload(true);
		                                  },
		                                  title: "友情提示",
		                              });
		                              return;
		                          }else{
		                        	  bootbox.dialog({
		                                  message: response.message,
		                                  buttons: {
		                                      "success": {
		                                          "label": "确定",
		                                          "className": "btn-danger"
		                                      }
		                                  }
		                              });
		                              return;
		                          } 
		                      });
		                  } else {
		                      return true;
		                  }
		              },
		              buttons: {
		                  "cancel": {"label": "取消"},
		                  "confirm": {
		                      "label": "确定",
		                      "className": "btn-danger"
		                  }
		              }
		          });
		      });
		});
		
	</script>
</body>
</html>
