<include file="Public/head" />
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/qwadmin/js/webupload/webuploader.css">
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/qwadmin/css/animate.min.css">
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/qwadmin/css/weixin.css">
<link rel="stylesheet" type="text/css"
	href="__PUBLIC__/qwadmin/js/waves.min.js">
<body class="no-skin">
	<include file="Public/header" />
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<include file="Public/sidebar" />
		<div class="main-content">
			<div class="main-content-inner">
				<!-- #section:basics/content.breadcrumbs -->
				<include file="Public/breadcrumbs" />
				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">
					<include file="Public/set" />
					<!-- /section:settings.box -->
					<div class="row">
						<div class="col-lg-10 m-t-20" style="">
							<div class="app-wrap p-b-30" style="">
								<!--left  start-->
								<div class="app-preview">
									<form class="add">
										<div class="app-header"
											style="background: url('__PUBLIC__/qwadmin/images/iphone_head.png') no-repeat center center;"></div>
										<div class="app-body">
											<div class="app-top"
												style="background: url('__PUBLIC__/qwadmin/images/titlebar.png') no-repeat center center;">
												<h1>图文回复</h1>
											</div>
											<div class="app-content">
												<div class="app-item app-first">
													<div class="app-msg">
														<if condition="$model['newstitle'] eq null" >
															<h4 class="app-msg-title view_title">标题</h4>
														<else/>
														<h4 class="app-msg-title view_title">{$model['newstitle']}</h4>
														</if>
														<div class="app-msg-pic">
														<if condition="$model['newspicture'] eq null" >
														<p class="first_p">封面图片</p>
															<img id="view_img" class="none view_img" src="" alt="" />
														<else/>
														<img id="view_img" src="__ROOT__{$model['newspicture']}" alt="" />
														</if>
															
														</div>
													</div>
													<div class="app-operation">
														<a href="javascript:;" class="app-edit"><i
															class="fa fa-edit"></i></a>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
								<!--left  end-->
								<!--right  start-->
								<div class="app-sidebar" style="">
									<div class="arrow"></div>
									<div class="app-edit-wrap" style="">
										<form action="{:U('updatenews')}" id="form" method="POST" class="form-horizontal" style="">
										<input type="hidden" name="id"  value="{$model['id']}"/>
										<input type="hidden" name="newspicture" id="newspicture" value="{$model['newspicture']}"/>
											<div class="form-group">
												<label class="col-sm-10"> 标题 <span
													class="text-danger"> * </span></label>
												<div class="col-sm-12">
													<input type="text" id="newstitle" name="newstitle" placeholder="请输入标题"  value="{$model['newstitle']}" 
														class="form-control" />
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-10"> 简介 <span class="text-ddd">
														(单图文选填，多图文无需填写) </span></label>
												<div class="col-sm-12">
													<textarea placeholder=" 请输入简介" id="newssummary" name="newssummary" 
														class="text-area">{$model['newssummary']}</textarea>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-10"> 封面 <span
													class="text-danger"> * </span><span class="text-ddd">
														(图片建议尺寸：360 x 200像素) </span></label>
												<div class="col-sm-12 img-control">
												<if condition="$model['newspicture'] eq null" >
												<img id="duotu_img" src="__PUBLIC__/qwadmin/images/no-pic.jpg" alt="" />
												<else/>
												<img id="duotu_img" src="__ROOT__{$model['newspicture']}" alt="" />
												</if>
													<div class="form-group">
														<div class="col-sm-6">
															<div id="uploader-demo">
																<!--用来存放item-->
																<div id="thelist" class="uploader-list"></div>
																<div>
																	<div id="filePicker">选择图片</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="form-group" style="">
												<label class="col-sm-10"> 正文 </label>
												<div class="col-sm-12">
													<textarea name="newscontent" id="newscontent" rows="8"
														class="form-control">{$model['newscontent']}</textarea>
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-10"> 外链地址 <span
													class="text-ddd">
														(微信公众号点击“阅读原文”跳转到此链接，支付宝生活号点击图文消息直接跳转到此链接) </span></label>
												<div class="col-sm-12">
													<input type="text" id="newsouturl"
														placeholder="请输外链地址(例如：http://www.bontion.com/em/，地址必须有http://)"
														class="form-control" name="newsouturl" value="{$model['newsouturl']}" />
												</div>
											</div>
										</form>
									</div>
								</div>
								<!--right  end-->
								<div class="row text-center m-t-30">
									<button type="button" class="btn btn-info submit">保存</button>
									<a href="javascript:history.go(-1)" class="btn btn-info">返回</a>
								</div>
							</div>
						</div>
					</div>
					<!-- PAGE CONTENT ENDS -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
	</div>
	<!-- /.main-content -->
	<include file="Public/footer" />
	<!-- /.main-container -->
	<include file="Public/footerjs" />
<script src="__PUBLIC__/qwadmin/js/webupload/webuploader.min.js"></script>
		<script type="text/javascript">
    $(function () {
    	$('#newstitle').keyup(function(){
    		var newstitle=$('#newstitle').val();
    		$('.view_title').html(newstitle);
    	});
    	if($('.view_img').val()!=''){
    		 var $list=$("#thelist"); 
    		 var $li = $(  
  	               '<div class="">' +  
  	                   '<div class="info"></div>' +  
  	               '</div>'  
  	               ),  
  	            
  	          $img = $li.find('img');  
    		  $list.append( $li );  
    		  $img.attr( 'src', '__ROOT__/'+$('.view_img').val() );  
    	}
    	/*init webuploader*/  
    	   var $list=$("#thelist");   //这几个初始化全局的百度文档上没说明，好蛋疼。  
    	   var $btn =$("#ctlBtn");   //开始上传  
    	    uploader = WebUploader.create({  
    	       // 选完文件后，是否自动上传。  
    	       auto: true,  
    	  
    	       // swf文件路径  
    	       swf: '__PUBLIC__/qwadmin/js/webupload/Uploader.swf',  
    	  
    	       // 文件接收服务端。  
    	       server: '__ROOT__/Content/ajax_upload.html',  
    	  
    	       // 选择文件的按钮。可选。  
    	       // 内部根据当前运行是创建，可能是input元素，也可能是flash.  
    	       pick: '#filePicker',  
    	       fileSingleSizeLimit: 1 * 1024 * 1024,    // 1 M 微信中图片仅支持jpg/png格式，大小必须在1MB以下。
    	       // 只允许选择图片文件。  
    	       accept: {  
    	           title: 'Images',  
    	           extensions: 'jpg,png',  
    	           mimeTypes: '.jpg,.png'  
    	       },  
    	       method:'POST',  
    	   });  
    	   // 当有文件添加进来的时候  
    	   uploader.on( 'fileQueued', function( file ) {  // webuploader事件.当选择文件后，文件被加载到文件队列中，触发该事件。等效于 uploader.onFileueued = function(file){...} ，类似js的事件定义。  
    		   var $list=$("#thelist");  
      		   $list.children().remove();
      	       uploader.upload();  
    	   });  
    	   // 文件上传过程中创建进度条实时显示。  
    	   uploader.on( 'uploadProgress', function( file, percentage ) {  
    	       var $li = $( '#'+file.id ),  
    	           $percent = $li.find('.progress span');  
    	  
    	       // 避免重复创建  
    	       if ( !$percent.length ) {  
    	           $percent = $('<p class="progress"><span></span></p>')  
    	                   .appendTo( $li )  
    	                   .find('span');  
    	       }  
    	  
    	       $percent.css( 'width', percentage * 100 + '%' );  
    	   });  
    	  
    	   // 文件上传成功，给item添加成功class, 用样式标记上传成功。  
    	   uploader.on( 'uploadSuccess', function( file,response  ) {  
    		   if(response.status==0){
    			   bootbox.alert({
                       buttons: {
                           ok: {
                               label: '确定',
                               className: 'btn-myStyle'
                           }
                       },
                       message: '附件上传失败',
                       title: "提示信息",
                   });
    		   }else{
    			   $('.first_p').hide();
    			   $('#duotu_img').attr('src','__ROOT__'+response.message);//保存上传文件路径
    			   $('#view_img').attr('src','__ROOT__'+response.message);//保存上传文件路径
    			   $('#newspicture').val(response.message);
    			   uploader.removeFile(file);
    			   uploader.reset();//重置上传附件
    		   }
    	       $( '#'+file.id ).addClass('upload-state-done');  
    	   });  
    	  
    	   // 文件上传失败，显示上传出错。  
    	   uploader.on( 'uploadError', function( file ) {  
    	       var $li = $( '#'+file.id ),  
    	           $error = $li.find('div.error');  
    	  
    	       // 避免重复创建  
    	       if ( !$error.length ) {  
    	           $error = $('<div class="error"></div>').appendTo( $li );  
    	       }  
    	  
    	       $error.text('上传失败');  
    	   });  
    	  
    	   // 完成上传完了，成功或者失败，先删除进度条。  
    	   uploader.on( 'uploadComplete', function( file) {  
    		   //清空队列
    		     uploader.reset();
    	   });  
    	 var editor = KindEditor.create('textarea[name="newscontent"]', {
             uploadJson: '__PUBLIC__/kindeditor/php/upload_json.php',
             fileManagerJson: '__PUBLIC__/kindeditor/php/file_manager_json.php',
             allowFileManager: true,
             afterBlur: function () {
                 this.sync();
             }
         });
	 $(".submit").click(function () {
         var newspicture = $("#newspicture").val();//图文图片地址
         var newstitle = $("#newstitle").val();//图文标题
         var newssummary = $("#newssummary").val();//图文简介
         var newscontent = $("#newscontent").html();//图文正文
         if (newspicture=='') {
             bootbox.dialog({
                 title: '友情提示：',
                 message: "图片没有上传",
                 buttons: {
                     "success": {
                         "label": "确定",
                         "className": "btn-danger"
                     }
                 }
             });
             return;
         }if($('#newstitle').val()==''){
        	 bootbox.dialog({
                 title: '友情提示：',
                 message: "图文标题不能为空。",
                 buttons: {
                     "success": {
                         "label": "确定",
                         "className": "btn-danger"
                     }
                 }
             });
             return;
         } if($('#newssummary').val()==''){
        	 bootbox.dialog({
                 title: '友情提示：',
                 message: "图文简介不能为空。",
                 buttons: {
                     "success": {
                         "label": "确定",
                         "className": "btn-danger"
                     }
                 }
             });
             return;
         }if($('#newscontent').val()==''){
        	 bootbox.dialog({
                 title: '友情提示：',
                 message: "图文正文不能为空。",
                 buttons: {
                     "success": {
                         "label": "确定",
                         "className": "btn-danger"
                     }
                 }
             });
             return;
         }
         $("#form").submit();
     });
    });
	</script>
</body>
</html>
