<include file="Public/head" />
<style>
.grouptd {
	position: relative;
}

.group {
	display: inline-block;
	width: 100%;
}

.groupselect {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}
</style>
<body class="no-skin">
	<include file="Public/header" />
	<div class="main-container" id="main-container">
		<script type="text/javascript">
			try {
				ace.settings.check('main-container', 'fixed')
			} catch (e) {
			}
		</script>

		<include file="Public/sidebar" />
		<div class="main-content">
			<div class="main-content-inner">
				<!-- #section:basics/content.breadcrumbs -->
				<include file="Public/breadcrumbs" />

				<!-- /section:basics/content.breadcrumbs -->
				<div class="page-content">
					<include file="Public/set" />

					<!-- /section:settings.box -->
					<div class="row">
						<div class="col-xs-12">
							<!-- PAGE CONTENT BEGINS -->
							<div class="space-4"></div>
							<div class="row">
								<form id="form" method="post" action="{:U('del')}">
									短信余额<strong >{$data}</strong>
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th style="width: 60%">短信内容</th>
												<th>条数</th>
												<th>发送时间</th>
											</tr>
										</thead>
										<tbody>
											<volist name="list" id="val">
											<tr>
												<td>{$val['smscontent']}</td>
												<td>{$val['amount']}</td>
												<td>{$val['createtime']}</td>
											</tr>
											</volist>
										</tbody>
									</table>
								</form>

							</div>
							<!-- PAGE CONTENT ENDS -->
						</div>
						{$page}
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
		<!-- /.main-content -->
		<include file="Public/footer" />

	</div>
	<!-- /.main-container -->

	<include file="Public/footerjs" />
	<!-- inline scripts related to this page -->
	<script type="text/javascript">
	 $(function () {
	  $(".approve").on('click', function () {
          var obj = $(this);
          var id = obj.attr('val');
          bootbox.confirm({
              title: "系统提示",
              message: "是否要审核通过？",
              callback: function (result) {
                  if (result) {
                      $.get("{:U('approve')}?id=" + id, function (result) {
                         if (result == 1) {
                              bootbox.alert({
                                  buttons: {
                                      ok: {
                                          label: '确定',
                                          className: 'btn-danger'
                                      }
                                  },
                                  message: '恭喜，审核成功！',
                                  callback: function () {
                                      window.location.reload(true);
                                  },
                                  title: "友情提示",
                              });
                              return;
                          }else{
                        	  bootbox.dialog({
                                  message: "抱歉，系统错误，请稍后再试。",
                                  buttons: {
                                      "success": {
                                          "label": "确定",
                                          "className": "btn-danger"
                                      }
                                  }
                              });
                              return;
                          } 
                      });
                  } else {
                      return true;
                  }
              },
              buttons: {
                  "cancel": {"label": "取消"},
                  "confirm": {
                      "label": "确定",
                      "className": "btn-danger"
                  }
              }
          });
      })
	 });
	</script>
</body>
</html>
