<include file="Public/head"/>
<body class="no-skin">
<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="page-content"  >
                <!-- /section:settings.box -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <form class="form-horizontal" id="form" method="post" action="{:U('check')}">
                            <div class="space-4"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 手机号码 </label>
                                <div class="col-sm-9">
	                                    <input type="text" name="phone" id="phone" placeholder="手机号码" class="col-xs-8" value="{$phone}" maxlength=11 style="margin-top:5px;" required="required">
	                                    <button class="btn btn-warning" type="button" id="sendCode">发送短信</button>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            
                            <div class="space-4"></div><div class="space-4"></div><div class="space-4"></div>
                            
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 验证码 </label>
                                <div class="col-sm-9">
                                    <input type="text" name="smscode" id="smscode" placeholder="验证码" class="col-xs-8" value="{$smscode}" maxlength=6 required="required">
                                    <span class="help-inline">
												<span class="middle">验证码</span>
											</span>
                                </div>
                            </div>
                            
                            <input type="hidden" name="openid" id="openid"  class="col-xs-10 col-sm-5" value="{$openid}">
                            
                            <div class="col-md-offset-2 col-md-9">
                                <button class="btn btn-info col-sm-3 submit" type="button"><i class="fa fa-paper-plane"></i> 提交</button>
                                <span class="help-inline" style="color:red;">{$error}</span>
                            </div>
                        </form>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    <include file="Public/footer"/>

</div><!-- /.main-container -->

<include file="Public/footerjs"/>
<!-- inline scripts related to this page -->
<script type="text/javascript">
    $(function () {
        $(".btn-info.submit").click(function () {
        	var phone = $("#phone").val();
            var code = $("#smscode").val();
            if (phone == 0) {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "手机号码不能为空！",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
            }else{
            	if(!isPhoneNo(phone)){
            		bootbox.dialog({
                        title: '友情提示：',
                        message: "手机号码格式不正确！",
                        buttons: {
                            "success": {
                                "label": "确定",
                                "className": "btn-danger"
                            }
                        }
                    });
                    return;
            	}
            }
            if (code == '') {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "验证码不能为空！",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
            }else{
            	if(!isSmsCode(code)){
            		bootbox.dialog({
                        title: '友情提示：',
                        message: "验证码格式不正确！",
                        buttons: {
                            "success": {
                                "label": "确定",
                                "className": "btn-danger"
                            }
                        }
                    });
                    return;
            	}
            }
            $("#form").submit();
        });
        
        $("#sendCode").click(function () {
            var phone = $("#phone").val();
            if (phone == 0) {
                bootbox.dialog({
                    title: '友情提示：',
                    message: "手机号码不能为空！",
                    buttons: {
                        "success": {
                            "label": "确定",
                            "className": "btn-danger"
                        }
                    }
                });
                return;
            }else{
            	if(!isPhoneNo(phone)){
            		bootbox.dialog({
                        title: '友情提示：',
                        message: "手机号码格式不正确！",
                        buttons: {
                            "success": {
                                "label": "确定",
                                "className": "btn-danger"
                            }
                        }
                    });
                    return;
            	}
            }
            
            $.ajax({
				type: "POST",
				url: "__URL__/send",
				data: {
					phone : phone
				},
				async: true,
				dataType: "json",
				success: function(json) {
					if(json.status == 0){
						timer=0;
						bootbox.dialog({
		                    title: '友情提示：',
		                    message: "短信已发送，注意查收！",
		                    buttons: {
		                        "success": {
		                            "label": "确定",
		                            "className": "btn-danger"
		                        }
		                    }
		                });
					}else{
						timer = 0;
						bootbox.dialog({
		                    title: '友情提示：',
		                    message: json.message,
		                    buttons: {
		                        "success": {
		                            "label": "确定",
		                            "className": "btn-danger"
		                        }
		                    }
		                });
					}
				},
				error: function() {
					
				}
			});
            
            Countdown();
            
        });
    });
    
    
    var timer = 60;
    function Countdown() {
        if (timer == 0 ) {
            $("#sendCode").removeAttr("disabled"); 
            $("#sendCode").text("重新发送");
            timer = 60;
            return;
        }else{
        	timer --;
        	$("#sendCode").attr('disabled',"disabled");
        	$("#sendCode").text("重新发送(" + timer + ")"); 
        }
        setTimeout(function() {
            Countdown();
        }, 1000);
    }

    // 验证手机号
	function isPhoneNo(phone) { 
		var pattern = /^1[34578]\d{9}$/; 
		return pattern.test(phone); 
	}
    
	function isSmsCode(code) { 
		var pattern = /\d{6}$/; 
		return pattern.test(code); 
	}
</script>
</body>
</html>